/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
  }
  
  /* Left and right column */
  .column.side {
    width: 25%;
    ;
  }
  .column.right {
    width: 15;
  }
  
  /* Middle column */
  .column.middle {
    width: 50%;
    margin-bottom: 20px;
  }
  body {
      background-color: rgb(244, 243, 247);
      color: rgb(7, 7, 7);
  }
  .hr.new1 {
      border-top: 1px solid blue;
  }
  textarea {
    background-color: rgb(165, 196, 196);
    border: 2px;
    border-radius: 8px;
  }
  button {
    background-color: rgb(149, 149, 175);
    border-radius: 15px;
    border-width: 2px;
    color:beige;
  }
/*.trends {
  border-radius: 6px;
  padding: 3px;
  background-color: white;
  margin-top: 20px;}*/
#search{
  background-color: rgb(181, 226, 226);
  border-radius: 100px;
  border: 500px;
  border-width: 30px;
}
.one:hover {
  color:blue;
}
.two {
  text-align: left;
}
