/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
  }
  
  /* Left and right column */
  .column.side {
    width: 25%;
    float: left; 
    ;
  }
  .column.right {
    float: right;
    width: 25%;
  }
  
  /* Middle column */
  .column.middle {
    width: 40%;
    margin-bottom: 20px;
  }
  body {
      background-color: rgb(37, 32, 32);
      color: white;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .hr.new1 {
      border-top: 1px solid gray;
      width: 578px;
      left: 50rem;
      display:block;
      content:"";
  }
  textarea {
    background-color: rgb(49, 46, 46);
    border: 2px;
    border-radius: 14px;
  }
  button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 100px;
    margin-bottom: 5px;
    border-radius: 9px;
    background-color: rgb(231, 231, 18);
  }
  
  button:hover {
  border: none;
  border-inline-style: solid;
}

#search{
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 15px;
  background-color: rgb(48, 44, 44);
  
}
.one{
  display: grid;
  color: white;
}
.one:hover {
  color:blue;
}
.icons {
  justify-content: space-between;
  display:flex;
  padding: 10px 10px 10px 10px;
  
}
footer{
  padding-top: 220px;
}
.test { 
  height: 770px; 
  width:0px;
  border-left:1px solid gray;
  content:"";
  display:block;
  left:25rem;
  top: 0rem;
  position:absolute;
  }
  .rest {
    height: 770px; 
    width:0px;
    border-right:1px solid gray;
    content:"";
    display:block;
    right:31rem;
    top: 0rem;
    position:absolute;
  }